<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.mapper.PicturesMapper">
  <resultMap id="BaseResultMap" type="org.spring.springboot.model.Pictures">
    <!--@mbg.generated-->
    <!--@Table pictures-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name_id" jdbcType="INTEGER" property="nameId" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, name_id, file_path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from pictures
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from pictures
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.spring.springboot.model.Pictures" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pictures (name_id, file_path)
    values (#{nameId,jdbcType=INTEGER}, #{filePath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.spring.springboot.model.Pictures" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into pictures
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nameId != null">
        name_id,
      </if>
      <if test="filePath != null">
        file_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nameId != null">
        #{nameId,jdbcType=INTEGER},
      </if>
      <if test="filePath != null">
        #{filePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.model.Pictures">
    <!--@mbg.generated-->
    update pictures
    <set>
      <if test="nameId != null">
        name_id = #{nameId,jdbcType=INTEGER},
      </if>
      <if test="filePath != null">
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.model.Pictures">
    <!--@mbg.generated-->
    update pictures
    set name_id = #{nameId,jdbcType=INTEGER},
      file_path = #{filePath,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>