<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.springboot.dao.UserinfoMapper">
  <resultMap id="BaseResultMap" type="org.spring.springboot.model.Userinfo">
    <!--@mbg.generated-->
    <!--@Table userinfo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, nickname, `password`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.spring.springboot.model.Userinfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into userinfo (username, nickname, `password`
      )
    values (#{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.spring.springboot.model.Userinfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        `password`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.model.Userinfo">
    <!--@mbg.generated-->
    update userinfo
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.model.Userinfo">
    <!--@mbg.generated-->
    update userinfo
    set username = #{username,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-07-22-->
  <select id="selectPasswordByUsername" resultType="java.lang.String">
    select `password`
    from userinfo
    where username=#{username,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-07-23-->
  <select id="selectAllByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from userinfo
    where username=#{username,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2020-07-24-->
  <select id="selectIdByUsername" resultType="java.lang.Integer">
        select id
        from userinfo
        where username=#{username,jdbcType=VARCHAR}
    </select>

</mapper>